<div class="column is-narrow">
    <div class="container is-fluid has-text-right-desktop">
        <aside class="menu">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ .Site.BaseURL }}">
                    {{ .Site.Params.Logo }}
                </a>
            </div>

            <ul class="menu-list">
                {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </aside>
    </div>
</div>