{{ define "main" }}

{{ partial "about-content.html" . }}

<div class="text-center bg-gray-800 rounded-lg py-10 px-4 mb-10">
  <h2 class="text-white text-3xl font-bold mb-2">Let's Connect</h2>
  <p class="text-gray-300 mb-6 max-w-lg mx-auto">I'm always open to
      discussing new projects, creative ideas, or opportunities. Feel free to get in touch!</p>

  {{ if .Site.Params.CalendlyLink }}
      <a href="{{ .Site.Params.CalendlyLink }}"
          target="_blank" rel="noopener noreferrer"
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 px-5 bg-blue-600 text-white text-base font-bold leading-normal tracking-[0.015em] mx-auto hover:bg-opacity-90 transition-opacity">
          <span class="truncate">Schedule a Call</span>
      </a>
  {{ end }}
</div>

<!-- CTA -->
<!-- <div class="px-4 my-10">
  <div class="bg-gray-800 rounded-lg px-6 py-10 text-center">
    <h1 class="text-3xl font-bold">Stay Ahead of the Curve</h1>
    <p class="text-gray-300 mt-2">Subscribe for weekly tech insights.</p>

    <div class="flex justify-center mt-6">
      <input class="bg-gray-700 outline-none text-white px-4 py-3 rounded-l-lg placeholder:text-[#9dabb9]"
        placeholder="Enter your email" />
      <button class="bg-blue-500 px-5 py-3 rounded-r-lg font-bold hover:opacity-90">
        Subscribe
      </button>
    </div>
  </div>
</div> -->

{{ end }}