@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/***** BODY STYLES *****/
body {
    background-color: #2e282a;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

.content h1, .content p {
    color: #fff;
}

.content p {
    font-size: calc(1em + 0.1vw);
    line-height: calc(1.5em + 0.15vh);
}

@media screen and (min-width:1024px) {
    .is-scrollable {
        max-height: 70vh;
        overflow-y: scroll;
    }
}

.hero-foot {
    background-color: #150f11;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
}

.hero-foot .section {
    padding: 1.5rem 1.5rem;
}

/***** NAV STYLES *****/
.menu h1, .menu a {
    color: #fff;
}

.menu a {
    font-size: calc(1.15em + 0.1vw);
}

.navbar-brand a {
    font-size: 1.5em;
}

.navbar-brand a:hover {
    color: #fff;
}