@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/***** BODY STYLES *****/
body {
    background-color: #2e282a;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

.content h1, .content p {
    color: #fff;
}

.content p {
    line-height: 1.6;
}

.hero-foot {
    background-color: #150f11;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
}

.hero-foot .section {
    padding: 1.5rem 1.5rem;
}

/***** NAV STYLES *****/
.menu h1, .menu a {
    color: #fff;
}

.menu a {
    font-size: 1.2em;
}

.navbar-brand a {
    font-size: 1.5em;
    word-wrap: break-word;
}

.navbar-brand a:hover {
    color: #fff;
}