<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container is-fluid">
                <div class="columns is-desktop is-centered is-vcentered">
                    {{- partial "header.html" . -}}

                    {{- block "main" . }}{{- end }}
                </div>
            </div>
        </div>

        {{- partial "footer.html" . -}}
    </section>
</body>

</html>