<div id="about" class="flex flex-col gap-10 sm:gap-16 p-4">
    <div class="@container pt-10">
        <div class="flex flex-col gap-6 @[864px]:flex-row-reverse @[864px]:gap-12">
            <!-- <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl @[864px]:w-2/5"
                data-alt="Professional headshot of Alex Doe against a neutral background"
                style='background-image: url("/photo.webp");'>
            </div> -->
            <div class="flex flex-col gap-6 @[864px]:w-full @[864px]:justify-center">
                <div class="flex flex-col gap-4 text-left">
                    <h2
                        class="text-gray-200 text-base font-normal leading-normal @[480px]:text-lg @[480px]:font-normal @[480px]:leading-normal">
                        I’m a Computer Science student at UNC–Chapel Hill with minors in Entrepreneurship and Statistics
                        & Analytics. I work across software engineering, solution arcchitecture. and technical strategy.
                        <br>
                    </h2>
                </div>
                <div class="flex flex-wrap justify-start gap-3 pt-2">
                    {{ if .Site.Params.LinkedinLink }}
                    <a aria-label="LinkedIn"
                        class="flex items-center gap-3 rounded-full bg-white/10 px-5 py-3 text-gray-200 hover:text-blue-500 hover:bg-blue-500/20 transition-colors"
                        href="{{ .Site.Params.LinkedinLink }}"
                        target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="fill-current w-6 h-6" role="img"
                            viewBox="0 0 24 24">
                            <title>LinkedIn</title>
                            <path
                                d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z">
                            </path>
                        </svg>
                        <span class="font-bold text-base">LinkedIn</span>
                    </a>
                    {{ end }}

                    {{ if .Site.Params.GithubLink }}
                    <a aria-label="GitHub"
                        class="flex items-center gap-3 rounded-full bg-white/10 px-5 py-3 text-gray-200 hover:text-blue-500 hover:bg-blue-500/20 transition-colors"
                        href="{{ .Site.Params.GithubLink }}"
                        target="_blank" rel="noopener noreferrer">
                        <svg viewBox="0 0 16 16" class="fill-current w-6 h-6" color="currentColor">
                            <path fill-rule="evenodd"
                                d="M8 0C3.58.0.0 3.58.0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38.0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95.0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12.0.0.67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15.0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48.0 1.07-.01 1.93-.01 2.2.0.21.15.46.55.38A8.013 8.013.0 0016 8c0-4.42-3.58-8-8-8z">
                            </path>
                        </svg>
                        <span class="font-bold text-base">GitHub</span>
                    </a>
                    {{ end }}

                    {{ if .Site.Params.XLink }}
                    <a aria-label="X"
                        class="flex items-center gap-3 rounded-full bg-white/10 px-5 py-3 text-gray-200 hover:text-blue-500 hover:bg-blue-500/20 transition-colors"
                        href="{{ .Site.Params.XLink}}"
                        target="_blank" rel="noopener noreferrer">
                        <svg aria-hidden="true" class="fill-current w-6 h-6" fill="currentColor" viewbox="0 0 24 24">
                            <path
                                d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
                            </path>
                        </svg>
                        <span class="font-bold text-base">X</span>
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <section class="flex flex-col gap-4">
        <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] pt-5">
            My Story</h2>
        <p class="text-gray-200 text-base font-normal leading-relaxed">
            My journey in technology began in third grade, when I first picked up How to Use HTML3 by Scott Arpajian.
            That early curiosity sparked a lifelong fascination with building—treating code, systems, and infrastructure
            as puzzle pieces that come together to solve real-world problems. Over the years, I explored everything from
            designing websites and developing apps to experimenting with low-level software like bootloaders.
            <br>
            <br>
            Growing up in a quiet suburb of North Carolina, I saw how data influences communities in unique and powerful
            ways. As data plays an increasingly central role in everyday decision-making, I’ve become motivated to
            pursue work that helps harness its potential responsibly. After graduating, I plan to build a career in data
            science or data engineering—fields where I believe thoughtful, well-applied data can empower people and
            communities everywhere.
        </p>
    </section>
    <section class="flex flex-col gap-6">
        <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] pt-5">
            My Expertise</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <div class="bg-gray-800 rounded-lg p-6">
                <h3 class="text-lg font-bold text-white mb-3">Languages</h3>
                <div class="flex flex-wrap gap-2">
                    <span
                        class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">JavaScript</span>
                    <span
                        class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">TypeScript</span>
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">Python</span>
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">Java</span>
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">SQL</span>
                    <span
                        class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">HTML/CSS</span>
                </div>
            </div>
            <div class="bg-gray-800 rounded-lg p-6">
                <h3 class="text-lg font-bold text-white mb-3">Frameworks</h3>
                <div class="flex flex-wrap gap-2">
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">React</span>
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">Angular</span>
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">Node.js</span>
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">AWS CDK</span>
                </div>
            </div>
            <div class="bg-gray-800 rounded-lg p-6">
                <h3 class="text-lg font-bold text-white mb-3">Tools &amp;
                    Platforms</h3>
                <div class="flex flex-wrap gap-2">
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">Git
                        &amp; GitHub</span>
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">Docker</span>
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">Linux</span>
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">AWS</span>
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">Ansible</span>
                    <span class="bg-blue-500/30 text-blue-200 text-sm font-medium px-3 py-1 rounded-full">Terraform</span>
                </div>
            </div>
        </div>
    </section>
    <section class="flex flex-col gap-6">
        <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] pt-5">
            Beyond the Keyboard</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <div class="bg-gray-800 rounded-lg p-6 flex flex-col items-center text-center">
                <div class="bg-blue-500/20 text-blue-500 rounded-full p-3 mb-4">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                        width="24px" fill="#e3e3e3">
                        <path 
                            d="M80-160v-80h800v80H80Zm80-120v-440h640v440H160Zm80-80h480v-280H240v280Zm0 0v-280 280Z" />
                    </svg>
                </div>
                <h3 class="text-lg font-bold text-white mb-1">Homelab</h3>
                <p class="text-sm text-gray-300">Exploring open-source technologies in my personal cloud</p>
            </div>
            <div class="bg-gray-800 rounded-lg p-6 flex flex-col items-center text-center">
                <div class="bg-blue-500/20 text-blue-500 rounded-full p-3 mb-4">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                        width="24px" fill="#e3e3e3">
                        <path d="M3 13.5L5.5 7h13l2.5 6.5V19h-2v1.5h-3V19H8v1.5H5V19H3v-5.5zm3.2-1.5h11.6L16 8H8L6.2 12zM6 15.5a1 1 0 1 0 2 0 1 1 0 0 0-2 0zm10 0a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                        <path d="M8 8.5c0-.8.7-2.5 2-3h4c1.3.5 2 2.2 2 3" opacity="0.4"/>
                    </svg>
                </div>
                <h3 class="text-lg font-bold text-white mb-1">Building Cars</h3>
                <p class="text-sm text-gray-300">Reparing and improving the performance of older cars</p>
            </div>
            <div class="bg-gray-800 rounded-lg p-6 flex flex-col items-center text-center">
                <div class="bg-blue-500/20 text-blue-500 rounded-full p-3 mb-4">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                        width="24px" fill="#e3e3e3">
                        <path
                            d="M12 21a1 1 0 0 1-.6-.2C10.2 19.9 7.6 19 5 19H3a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h2c2.8 0 5.5 1 7 2.4C13.5 5 16.2 4 19 4h2a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-2c-2.6 0-5.2.9-6.4 1.8a1 1 0 0 1-.6.2zm-1-4.3V7.6C9.5 6.6 7.3 6 5 6v11c2.3 0 4.5.6 6 1.7zm2 0C14.5 15.6 16.7 15 19 15V6c-2.3 0-4.5.6-6 1.6v9.1z" />
                    </svg>
                </div>
                <h3 class="text-lg font-bold text-white mb-1">Reading
                </h3>
                <p class="text-sm text-gray-300">Keeping up with the latest in
                    technology and the world</p>
            </div>
        </div>
    </section>
    <section class="text-center bg-gray-800 rounded-lg py-10 px-4 mb-10">
        <h2 class="text-white text-3xl font-bold mb-2">Let's Connect</h2>
        <p class="text-gray-300 mb-6 max-w-lg mx-auto">I'm always open to
            discussing new projects, creative ideas, or opportunities. Feel free to get in touch!</p>

        {{ if .Site.Params.CalendlyLink }}
            <a href="{{ .Site.Params.CalendlyLink }}"
                target="_blank" rel="noopener noreferrer"
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 px-5 bg-blue-600 text-white text-base font-bold leading-normal tracking-[0.015em] mx-auto hover:bg-opacity-90 transition-opacity">
                <span class="truncate">Schedule a Call</span>
            </a>
        {{ end }}
    </section>
</div>